<footer class="round">
	<nav class="round">
		<ul>
			<li><%= link_to "home", root_path %></li>
			<li><%= link_to "photos", photos_path %></li>
			<li><%= link_to "about", about_path %></li>
	        <li><%= link_to "blog", blog_path %></li>
	        <li><%= link_to "benny", benny_path %></li>
	        <li><%= link_to "goals", goals_path %></li>
		    <li><%= link_to "sign in", signup_path %></li>
		    <li><a href="http://twitter.com/#!/CamFortin">@camfortin</a></li>
	    </ul>
	</nav>
</footer>