<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">cam fortin</a>
      <ul class="nav">
        <li><%= link_to "photos", photos_path %></li>
        <li><%= link_to "goals", goals_path %></li>
        <li><%= link_to "about", about_path %></li>
        <li><%= link_to "blog", blog_path %></li>
        <li><%= link_to "benny", benny_path %></li>
        <li><%= link_to "sandbox", sandbox_path %></li>
        <li><a href="http://twitter.com/#!/camfortin">@camfortin</a></li>
	</ul>
    </div>
  </div>
</div>