<header>
  <nav class="round">
      <ul>
        <li><%= link_to "photos", photos_path %></li>
        <li><%= link_to "goals", goals_path %></li>
        <li><%= link_to "about", about_path %></li>
        <li><%= link_to "blog", blog_path %></li>
        <li><%= link_to "benny", benny_path %></li>
        <li><a href="http://twitter.com/#!/camfortin">@camfortin</a></li>
      </ul>
  </nav>
   <h1 class="title"><%= link_to "camfortin.com", root_path, :class => 'title' %></h1>
</header>